@tailwind base;
@tailwind components;
@tailwind utilities;


/* light mode in future */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: theme(colors.blue.400);
  --secondary: theme(colors.blue.200);
  --hover: theme(colors.blue.200)

} */

/* @media (prefers-color-scheme: dark) { */
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary: theme(colors.gray.800);
    --secondary: theme(colors.blue.600);
    --hover: theme(colors.blue.400)
  }
/* } */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
